.card-filter:hover {
    box-shadow: 3px 3px 4px #8AA899;
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}
body{
    font-family: Helvetica;
}
html{
    overflow-x: hidden;
}
/* Navbar */
.nav-link{
    color: black;
}
.nav-link:hover{
    /* transform: scale(1.2); */
    transition: all 0.5s;
    background-color:#3FD2C7;
    border-radius: 8px;
}
/* Navbar */

/* Main Section */
.mainTitle{
    font-weight: bold;
    padding-top: 13%;
}
.mainText{
    text-align: justify;
}
.mobil{
    padding-top: 5%;
}
/* Main Section */

/* Our Service */
.our-service{
    padding-top: 0.5%;
}
.our-row{
    margin-top: 5%;
    margin-left: 3%;
    padding-top: 3%;
}
.our-title{
    font-weight: bold;
}
.service-img{
    margin-top: -3%;
    padding-left: 3%;
}
/* Our Service */

/* Why Us */
.whymain{
    padding-top: 10%;
}
.why-card{
    background-color: #8AA899;
}
.card-title{
    font-weight: bold;
}
.card-text{
    text-align: justify;
    font-size: 14px;
}
/* Why Us */


/* Testimonial */
.testimonial {
    padding-top: 100px;
}
.item {
    width: 100%;
    /* height: 270px; */
    background: #8AA899;
}
.card-left {
    width: 60%;
    height: 60%;
    margin: 70px 30px;
}

.card-right {
    text-align: justify;
    font-size: 12px;
    padding: 70px 50px 0 0;
}
.card-kanan h6{
    font-weight: bold;
}
.Testimonial-component {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}
/* Testimonial */

/* CTN Banner */
.banner{
    background-color: #8AA899;
    border-radius: 8px;
    margin-top: 5%;
}
.banner-row{
    padding-top: 5%;
    padding-bottom: 5%;
}
.title-banner{
    font-size: 36px;
}
.text-banner{
    font-size: 14px;
}
/* CTN Banner */

/* FAQ */
.faq{
    padding-top: 0.5%;
}
.faq-main{
    margin-top: 5%;
}
.faq-title{
    font-weight: bold;
}
/* FAQ */

/* Footer */
footer{
    background-color: #8AA899;
}
.foot-main{
    margin-top: 15%;
    padding-top: 2%;
}
.foot-icon img{
    padding-right: 4%;
}
/* Footer */

/* FORMSEWA */
.form-binar{
    display: flex;
    /* gap: 20px; */
    /* display: grid; */
    background-color: darkgrey;
    width: 75%;
    border-radius: 10px;
    z-index: 1;
    margin-top: -4%;
    font-size: 15px;
}
.driver{
    margin-right:2% ;
}
.date{
    margin-right:2% ;
}
.time{
    margin-right:2% ;
}
.penumpang{
    margin-right:2% ;
}
/* FORMSEWA */

/* Mobile Responsive */
@media screen and (max-width : 576px) {
    /* Navbar */
    .offcanvas{
        width: 50%;
    }
    .navigation a{
        margin-left: 0;
    }
    .nav-link{
        color: black;
        font-weight: bold;
    }
    .nav-link:hover{
        /* transform: scale(1.2); */
        transition: 0.5s;
        background-color:white;
        border-radius: 8px;
    }
    /* Navbar */

    /* Main Section */
    .main-row{
        margin-left: -6.5%;
        margin-top: -10%;
    }
    /* Main Section */

    /* Our Service */
    .service-img{
        width: 80%;
        margin: 8% 0 7% 7%;
    }
    .our-title{
        font-weight: bold;
        font-size: 28px;
    }
    .our-row{
        margin-left: -2%;
    }
    /* Our Service */

    /* Why Us */
    .whymain{
        text-align: center;
        margin-top: 5%;
    }
    .why-card{
        margin-bottom: 5%;
    }
    .card-text{
        font-size: 15.5px;
    }
    /* Why Us */

    /* Testimnoial */
    .Testimonial-component{
        margin-top: 4%;
    }
    .Testimonial-component p{
        padding-top: 3%;
    }
    .row-owl{
        width: 100%;
        margin-left: 1%;
    }
    .item .card-body{
        display: block;
    }
    .item{
        width: 98%;
        height: 400px;
    }
    .card-kiri{
        width: 30%;
        margin-left: 37%;
    }
    .card-kanan{
        margin-top: -5%;
        margin-left: 3%;
    }
    .star{
        text-align: center;
        margin-bottom: 7%;
    }
    /* Testimnoial */

    /* CTN Banner */
    .banner{
        width: 94%;
        height: 410px;
    }
    .banner-row{
        margin-top: 18%;
    }
    .banner-col{
        margin-top: 13%;
    }
    .text-banner{
        padding: 0 19% 0 19%;
    }
    /* CTN Banner */

    /* FAQ */
    .faq-main{
        margin-top: 20%;
        text-align: center;
    }
    .accordion-item{
        border: solid white;
    }
    .accordion-header{
        margin-bottom: 5%;
        border: 1px solid gray;
    }
    .accordion-body{
        text-align: left;
    }
    /* FAQ */

    /* Footer */
    .foot-icon{
        margin-bottom: 5%;
    }
    /* Footer */

    /* FORM */
    .form-binar{
        display: block;
    }
    /* FORM */
}
/* Mobile Responsive */

/* Tablet Responsive */
@media (min-width : 768px) and (max-width : 1200px){
    /* navbar */
    .offcanvas{
        width: 50%;
    }
    .navigation a{
        margin-left: 0;
    }
    .nav-link{
        color: black;
        font-weight: bold;
    }
    .nav-link:hover{
        /* transform: scale(1.2); */
        transition: 0.5s;
        background-color:white;
        border-radius: 8px;
    }
    /* navbar */

    /* Main Section */
    .mainTitle{
        margin-top: -6%;
        font-size: 22px;
    }
    .mainText{
        font-size: 12px;
    }
    .tombol{
        font-size: 12px;
    }
    /* Main Section */

    /* Our Service */
    .our-row{
        margin-left: -1.8%;
    }
    .service-img{
        width: 100%;
        text-align: center;
        margin: 0% 0 7% -8%;
    }
    /* Our Service */

    /* Why Us */
    .why-card{
        height: 250px;
    }
    /* Why Us */

    /* Testimonial */
    .card-kiri{
        width: 45%;
        margin-top: 10%;
    }
    /* Testimonial */
    
    /* Footer */
    .foot-main{
        padding-bottom: 5%;
    }
    .foot-icon{
        margin-top: -0.5%;
    }
    /* Footer */
     /* FORM */
    .form-binar{
        display: block;
    }
    /* FORM */
}
/* Tablet Responsive */