body{
    font-family: Helvetica;
}
html{
    overflow-x: hidden;
}
/* Navbar */
.nav-link{
    color: black;
}
.nav-link:hover{
    /* transform: scale(1.2); */
    transition: all 0.5s;
    background-color:#3FD2C7;
    border-radius: 8px;
}
/* Navbar */

/* Main Section */
.mainTitle{
    font-weight: bold;
    padding-top: 13%;
}
.mainText{
    text-align: justify;
}
.mobil{
    padding-top: 5%;
}
/* Main Section */

/* Footer */
footer{
    background-color: #8AA899;
    margin-top: 2.84%;
}
.foot-main{
    margin-top: 15%;
    padding-top: 2%;
}
.foot-icon img{
    padding-right: 4%;
}
/* Footer */

/* FORMSEWA */
.form-binar{
    display: flex;
    /* gap: 20px; */
    /* display: grid; */
    background-color: #8AA899;
    box-shadow: 2px 2px 10px;
    width: 75%;
    border-radius: 10px;
    z-index: 1;
    margin-top: -3.5%;
    font-size: 15px;
}
.driver{
    margin-right:3% ;
}
.date{
    margin-right:3% ;
}
.time{
    margin-right:3% ;
}
.penumpang{
    margin-right:3% ;
}
/* FORMSEWA */

@media(min-width : 374px) and (max-width:767px) {
    /* Navbar */
    .offcanvas{
        width: 50%;
    }
    .navigation a{
        margin-left: 0;
    }
    .nav-link{
        color: black;
        font-weight: bold;
    }
    .nav-link:hover{
        /* transform: scale(1.2); */
        transition: 0.5s;
        background-color:white;
        border-radius: 8px;
    }
    /* Navbar */

    /* Main Section */
    .main-row{
        margin-left: -6.5%;
        margin-top: -10%;
    }
    /* Main Section */

      /* Footer */
    .foot-icon{
        margin-bottom: 5%;
    }
    /* Footer */

    /* FORM */
    .form-binar{
        display: block;
    }
    /* FORM */
}

@media (min-width:768px) and (max-width : 1200px){
    /* navbar */
    .offcanvas{
        width: 50%;
    }
    .navigation a{
        margin-left: 0;
    }
    .nav-link{
        color: black;
        font-weight: bold;
    }
    .nav-link:hover{
        /* transform: scale(1.2); */
        transition: 0.5s;
        background-color:white;
        border-radius: 8px;
    }
    /* navbar */

    /* Main Section */
    .mainTitle{
        margin-top: -6%;
        font-size: 22px;
    }
    .mainText{
        font-size: 12px;
    }
    .tombol{
        font-size: 12px;
    }
    /* Main Section */
    
    /* Footer */
    .foot-icon{
        margin-bottom: 5%;
    }
    /* Footer */

    /* FORM */
    .form-binar{
        display: block;
    }
    /* FORM */
}